*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.address{
    display: flex;
    justify-content: space-between;
}
.container11{
    display: flex;
    justify-content: space-between;
}
.ach1{
    display: flex;
    justify-content: space-between;
}
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color: #04AA6D;} /* Green */
  .php {width: 60%; background-color: #808080;} /* Dark Grey */